<div class="row bg-degree align-items-end page-title" id="titulo">
    <div class="row text-center pb-1">
        <h2 class="text-white text-600 pb-1">Trámites para operar en Guatemala</h2>
        <hr class="ml-auto mr-auto bg-warning">
    </div>    
</div>
<div class="container pt-2">
    <!--Primera fila-->
    <div class="row d-flex justify-content-center align-items-center">
        <!--Primer elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Apertura de la empresa
                </h5>
                <i class="fa fa-laptop-house fa-2x mr-3" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 text-justify">
                <p>En esta sección, conforme la legislación nacional, encontrará los pasos necesarios a realizar para la
                    obtención de la respectiva autorización en el país.</p>
            </div>
            <div class="text-right mb-1">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9086"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Primer elemento-->

        <!--Segundo elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Obligaciones tributarias</h5>
                <i class="fa fa-tasks fa-2x mr-3" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los trámtites necesarios para cumplir con las obligaciones tributarias para operar en
                    Guatemala.</p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9259 "><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Segundo elemento-->

        <!--Tercer elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Regímenes <br> económicos especiales</h5>
                <i class="fa fa-money-check-alt fa-2x mr-2" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los distintos trámtites y requisitos para gozar de beneficios tributarios bajo regímenes
                    específicos en Guatemala.</p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9492"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Tercer elemento-->
    </div>
    <!-- Segunda fila-->

    <div class="row d-flex justify-content-center align-items-center">
        <!--Cuarto elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Trámites Migratorios</h5>
                <i class="fa fa-atlas fa-2x mr-3" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los trámites que las personas extranjeras deben cumplir para el ingreso a Guatemala.</p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9541"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Cuarto elemento-->

        <!--Quinto elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Trámites laborales</h5>
                <i class="fa fa-chalkboard-teacher fa-2x mr-4" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los trámites necesarios para laborar en Guatemala como extranjero.</p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Quinto elemento-->

        <!--Sexto elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Trámites sanitarios</h5>
                <i class="fa fa-laptop-medical fa-2x mr-3" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los trámites relacionados a licencias y registros sanitarios.</p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9571"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Sexto elemento-->
    </div>

    <!-- Tercera fila-->
    <div class="row d-flex justify-content-center align-items-center">
        <!--Septimo elemento-->
        <div class="shadow card bg-white d-flex justify-content-between p-3 m-3 card-degree" hover-class="btn-outline-light">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="text-uppercase text-500">Licencias de construcción</h5>
                <i class="fa fa-city fa-2x mr-3" aria-hidden="true" style="margin-top:-10px;"></i>
            </div>
            <div class="mt-1 mb-1 text-justify">
                <p>Encuentre los trámtites, pasos y requisitos indispensables para iniciar un proyecto de construcción
                    en Guatemala. </p>
            </div>
            <div class="text-right">
                <a class="btn btn-outline-degree btn-sm" href="?page_id=9582"><i class="fas fa-book-reader mr-2"></i> Leer más</a>
            </div>
        </div>
        <!--/Septimo elemento-->
    </div>
</div>