<div class="bg-degree">
    <button type="button" class="close mr-2 mt-1 mb-1 text-white" aria-label="Close" (click)="cerrarModal()"> 
        <i class="fas fa-times-circle"></i>
    </button>
    <iframe id="ytplayer" type="text/html" width="640" height="360"
            src="https://www.youtube.com/embed/zBTTSS46Tao?autoplay=1&controls=0&enablejsapi=1&loop=1&start=0&iv_load_policy=3"
            frameborder="0" allowfullscreen style="width: 97%; height: 560px;"
            class="ml-2">
    </iframe>
</div>