
<div class="container mb-3">
    <!-- Content area -->
    <div class="content d-flex justify-content-center align-items-center">

        <!-- Container -->
        <div class="flex-fill">

            <!-- Error title -->
            <div class="text-center mb-3">
                <h1 class="error-title">{{ codigoEstado }}</h1>
                <h5>{{ mensajeError }}</h5>
            </div>
            <!-- /error title -->

        </div>
        <!-- /container -->

    </div>
    <!-- /content area -->
</div>