<div class="row bg-degree align-items-end page-title-single" id="titulo">
</div>
<div class="row text-center mt-3 pt-3">
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/1">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/altaVerapaz.jpg">            
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/2">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/escuintla.jpg">        
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/3">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/guatemala.jpg">
        </a>
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/4">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/izabal.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/5">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/quetzaltenango.jpg">        
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
        <a  routerLink="/informacionDepartamentos/6">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/retalhuleu.jpg">
        </a>
    </div>
</div>
<div class="row text-center">
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3 mb-3">
        <a  routerLink="/informacionDepartamentos/7">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/sanMarcos.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3 mb-3">
        <a  routerLink="/informacionDepartamentos/8">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/santaRosa.jpg">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 mt-3 mb-3">
        <a  routerLink="/informacionDepartamentos/9">
            <img class="rounded-circle" width="204" height="136" src="assets/images/departamentos/zacapa.jpg">
        </a>
    </div>
</div>
<div class="row ">
    <div class="col-lg-12 col-md-4 col-sm-12 mt-3 mb-3 text-center">
        <h1 class="text-uppercase mb-1 blue-title">Perfil</h1>
        <h2 class="text-uppercase blue-title">Departamento: {{nombreDepartamento}}</h2>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 text-center ">
        <img class="" width="100%" height="100%" src="assets/images/departamentos/Alta_Verapaz.svg">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 mt-3 mb-3 pr-5 text-justify ">
        <p>{{descripcionDepartamento}} </p>
        <table  class="table table-hover  table-striped">
            <tr>
                <td>1</td>
                <td>Cobán</td>
                <td>10</td>
                <td>Cahabón</td>
            </tr>
            <tr>
                <td>2</td>
                <td>San Pedro Carchá
                </td>
                <td>11</td>
                <td>Lanquín</td>
            </tr>
            <tr>
                <td>3</td>
                <td>San Juan Chamelco</td>
                <td>12</td>
                <td>Chahal</td>
            </tr>
            <tr>
                <td>4</td>
                <td>San Cristóbal Verapaz</td>
                <td>13</td>
                <td>Fray Bartolomé de las Casas</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Tactic</td>
                <td>14</td>
                <td>Chisec</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Tucurú</td>
                <td>15</td>
                <td>Santa Cruz Verapaz</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Tamahú</td>
                <td>16</td>
                <td>Santa Catalina La Tinta</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Panzós</td>
                <td>17</td>
                <td>Raxruhá</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Senahú</td>
                
            </tr>
          </table>
    </div>
    <div class="offset-lg-4  col-lg-8  offset-md-4 col-md-4 col-sm-12 mt-3 mb-3 pr-5 ">
      <!--  <table>
            <tr ng-repeat="x in names">
              <td>{{ x.Name }}</td>
              <td>{{ x.Country }}</td>
            </tr>
          </table>-->
        
    </div>    
</div>
<div class="text-center  pb-5 bg-white">
    <h2 class="blue-title text-uppercase">Datos Sociodemográficos</h2>
    <hr class="ml-auto mr-auto">
    <div class="container pt-4 ">

      <div class="row d-flex justify-content-center">
        <div class="card  mr-4  d-flex justify-content-center align-items-center border shadow card-rounded">
          <div class="row d-flex justify-content-center align-items-center" >
            <p style="text-align: center;"><span class = "text-light-blue"><strong>Estimación población<br> {{anioDepartamento}}</strong></span></p>            
            <div class="col-md-6 d-flex justify-content-center">
              <h1 class="blue-counter">
                <app-contador [count-value] =poblacionTotal
                              count-prefijo = ""
                              [count-time] = "1"
                              [count-start]= poblacionInicio >
                </app-contador>
              </h1>
            </div>
            
          </div>
        </div>
        <div class="card  mr-4 d-flex justify-content-center align-items-center border shadow card-rounded" >
            <div class="row d-flex justify-content-center align-items-center" >
                <p style="text-align: center;"><span class = "text-light-blue"><strong>Hombres<br> {{anioDepartamento}}</strong></span></p>
              <div class="col-md-6 d-flex justify-content-center">
                <h1 class="blue-counter">
                  <app-contador [count-value] =hombresTotal 
                                count-prefijo = ""
                                [count-time] = "1"
                                [count-start]= hombresInicio >
                  </app-contador>
                </h1>
              </div>  
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <h1 class="blue-counter">
                      <app-contador [count-value] =porcentajeHombres
                                    count-postfijo = "%"
                                    [count-time] = "1"
                                    [count-start]=  0>
                      </app-contador>
                    </h1>
                  </div>
              </div>            
            </div>
          </div>
          <div class="card  mr-4  d-flex justify-content-center align-items-center border shadow card-rounded" >
            <div class="row d-flex justify-content-center align-items-center" >
                <p style="text-align: center;"><span class = "text-light-blue"><strong>Mujeres<br> {{anioDepartamento}}</strong></span></p>
              <div class="col-md-6 d-flex justify-content-center">
                <h1 class="blue-counter">
                  <app-contador [count-value] =mujeresTotal
                                count-prefijo = ""
                                [count-time] = "1"
                                [count-start]=  mujeresInicio>
                  </app-contador>
                </h1>
              </div>
              <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <h1 class="blue-counter">
                      <app-contador [count-value] =porcentajeMujeres
                                    count-postfijo = "%"
                                    [count-time] = "1"
                                    [count-start]=  0>
                      </app-contador>
                    </h1>
                  </div>
              </div>
             
            </div>
          </div>

      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 class="blue-title text-uppercase">Población</h3>
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
          
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 class="blue-title text-uppercase">Pueblo de pertenencia</h3>
          <div id="chartpertenencia" style="width: 100%; height: 500px"></div> 
        </div>
      </div>
    </div>
</div>
