<div class="navbar navbar-expand-lg bg-degree">
	<div class="text-center d-lg-none w-100">
		<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#footer-logos">
			<em class="icon-unfold"></em>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="footer-logos">
		<div class="container">
			<div class="row text-center d-flex justify-content-center align-items-center mb-5" >
				<div class="row d-flex justify-content-center">
					<div class="col-md-2">
						<h5 class="pt-3" style="cursor: pointer;" routerLink="/contactenos">Contáctenos</h5>
					</div>
				</div>				
				<div class="col-md-3 pt-5">
					<div class="row">
						<i class="far fa-envelope fa-lg mb-2"></i>
					</div>
					<div class="row">
						<span>investinguatemala@pronacom.org</span>
					</div>
				</div>
				<div class="col-md-3 pt-5">
					<div class="row">
						<i class="fas fa-mobile-alt fa-lg mb-2"></i>
					</div>
					<div class="row">
						<span>+(502) 2421-2464</span>
					</div>
				</div>
				<div class="col-md-3 pt-5">
					<div class="row">
						<i class="fas fa-map-marker-alt fa-lg mb-2"></i>
					</div>
					<div class="row">
						<span>
							5a. Avenida 5-55 zona 14, Edificio Europlaza, Torre IV, nivel 16, of 1601, Ciudad de Guatemala.
						</span>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center align-items-center" >
			  <div>
				<a routerLink ="/"  >
					<img class="img-responsive img-fluid"  src="assets/images/esp/LogoVUI_Esp.png" style="max-height: 80px;" />
				</a>
			  </div>
			  <div class="ml-5  mr-4 pt-1">
				<a href="https://www.mineco.gob.gt" target="_blank" >
					<img class="img-responsive img-fluid"  src="assets/images/esp/LOGO-MINECO-ESP.png" style="max-height: 80px;"/>
				</a>
			  </div>
			  <div class="  mr-4">
				<a href="https://www.pronacom.org/" target="_blank" >
					<img class="img-responsive img-fluid"  src="assets/images/esp/Pronacom.png" style="max-height: 80px;"/>
				</a>
			  </div>
			</div>
			<div class="text-center">
				<span class="navbar-text font-weight-bold pb-1">Versión {{version}}</span>
			</div>
		  </div>		  
	</div>
</div>